mixin ProductCard(data)
	// start ProductCard
	+b.SECTION.ProductCard.section#ProductCard&attributes(attributes).dark-page
		.container
			+breadcrumb("Главная","Каталог", "Посудомоечная машина Asko DFI444B/1" )
			+b.section-title
				h2 Посудомоечная машина<br/> Asko DFI444B/1
				+e.P.headp У загрязнений нет шансов!
			+e.bg-box
				img(src="img/@2x/ProductCardlistBg.jpg" alt="" loading="lazy")
			+e.price-box.row
				.col-auto
					a Купить
				.col-auto
					p 59 999 рублей
			+e.top-icons-row.row
				.col-md-auto
					+Pcicon("0 отзывов")
				.col-md-auto
					+Pcicon("В избранное","PCheart")
				.col-md-auto
					+Pcicon("Сравнить","PCschedule")
				.col-md-auto
					+Pcicon("Поделиться","PCshare")
			+e.top-row.row
				.col-12.col-lg-5
					+e.img-box
						img(src="img/@2x/PCdishwasher.jpg")
				.col-lg-7
					+e.icons-row.row
						+Black-icons("Breuse","Простой возврат и обмен")
						+Black-icons("Bvan","Бесплатная доставка")
						+Black-icons("Bpig","Выгодная цена")
						+Black-icons("Binst","Бесплатная установка")
						+Black-icons("Bshield","Фирменная гарантия")
					+e.info-text
						h3 У загрязнений нет шансов!
						p С Asko DFI444B/1 вы будете наслаждаться идеальной чистотой посуды. Система водной подачи 9Spray™ включает направленные и независимые струйные потоки воды, которые тщательно и качественно обрабатывают всю камеру, разделённую на 9 отдельных зон обработки.
						p Благодаря технологии PowerZone Cutlery™ с зоной усиленного мытья даже самые загрязнённые столовые приборы станут идеально чистыми. А в зоне PowerZone JetSpray™ можно удалить любые загрязнения с нестандартной и крупногабаритной посуды.
						p С системой самоочистки SuperCleaningSystem+ больше не нужно предварительно ополаскивать приборы: рабочая камера и поверхность загруженных предметов очищаются самостоятельно, а датчик чистоты корректирует выбранную программу, чтобы результат вас порадовал и удивил.
			+e.s1.section-title
				h3 Эргономичные корзины
				p В камере посудомоечной машины находится три корзины, вмещающих 14 стандартных комплектов загрязнённой посуды. Верхнее отделение оснащено телескопическими направляющими и может изменяться по высоте размещения. В нижнюю корзину можно загружать предметы небольших и средних размеров. Также предусмотрен отсек для столовых приборов – вилок, ножей, ложек.
			+e.imgrow.row
				.col-4
					+e.img-box
						img(src="img/@2x/PC1.jpg" alt="" loading="lazy")
				.col-4
					+e.img-box
						img(src="img/@2x/PC2.jpg" alt="" loading="lazy" )
				.col-4
					+e.img-box
						img(src="img/@2x/PC3.jpg" alt="" loading="lazy")
			+e.s2.section-title
				h3 Мойка на все случаи жизни
				p В модели Asko DFI444B/1 предусмотрено семь разных программ мытья: по времени, быстрая, с полосканием, гигиеническая, ускоренная, интенсивная и автоматическая. Есть три разных режима мойки: ускоренный для максимально быстрого очищения посуды, ночной с минимальным уровнем шума и нормальный для ежедневных процедур. Также можно создавать собственные настройки и вносить их в память. Предусмотрены опции блокировки от детей, защиты от протечек, смягчения воды. Приятный бонус – индикация хода процесса и завершения цикла, наличия ополаскивателя и соли.
			+e.img-box--1
				img(src="img/@2x/PC4.jpg" alt="" loading="lazy")
			+e.designe-row.row
				+e.centercol.col-md-6
					+e.s3.section-title
						h3 Современный дизайн
						p Модель Asko DFI444B/1 является полностью встраиваемой, благодаря чему органично впишется в абсолютно любой интерьер. Лаконичный и стильный дизайн идеально дополнит оформление помещения. Несмотря на размер XL (82 сантиметра), посудомоечная машина смотрится компактно. Дверь цельнометаллическая. Также на корпусе есть текстовый дисплей, чтобы вы могли контролировать процесс мойки.
				.col-md-6
					+e.img-box--2
						img(src="img/@2x/PC5.jpg" alt="" loading="lazy")
			+Pctabs
			+e.s4.section-title
				h3 Посудомоечная машина Asko DFI444B/1
			+e.Pc-row.row
				+e.img-col.col-xl-auto
					+e.Pcimg-box
						img(src="img/@2x/PC6.jpg" loading="lazy" alt="#" )
				+e.product-col.col-xl-auto.col-md-5
					+e.product-box
						+PB("Артикул:","10209256")
						+PB("Цвет:","нерж.сталь")
						+PB("Гарантийный срок:	","24 мес")
						+PB("Тип управления:","механическое")
						+PB("Страна-производитель:","Турция")
						+PB("Цвет фурнитуры:","эффект нержавеющей стали")
						+PB("Глубина (см):","51")
						+PB("Энергопотребление:","250 кВт")
						+PB("Мин. температура:","-25 С")
						+PB("Макс. температура:","+10 С")
						+PB("Высота, см:","235")
						+PB("Ширина, см:","120")
					+e.A(href="#").more больше характеристик
					+e.img-box
						img(src="img/@2x/PCteka.png" loading="lazy" alt="")
				.col-xl.col-md-7
					+e.black-section
						h3 69 990 руб.
						+e.bonus-row.row
							.col-auto
								+e.bs-val +299.5
							.col-auto
								+e.bs-key бонусов
							.col-auto
								+e.img-box
									img(src="img/svg/PCask.svg" loading="lazy" alt ="")
						+e.btn-row.row
							.col-6
								+e.A.black-section-btn(href="#") В корзину
							.col-6
								+e.A.black-section-btn--b(href="#") Купить в 1 клик
						+e.A(href='').credit-btn Оформить рассрочку
					+e.BS-box
						+BS("img/svg/PCvan.svg","Доставка:","бесплатно")
						+BS("img/svg/PCmap.svg","Самовывоз:","сегодня, бесплатно")
			+e.swiper-con
				+e.PCswiper.swiper
					.swiper-wrapper
						.swiper-slide
							+e.simg-box
								img(src="img/@2x/PC7.jpg")
						.swiper-slide
							+e.simg-box
								img(src="img/@2x/PC8.png")
						.swiper-slide
							+e.simg-box
								img(src="img/@2x/PC9.png")
				+arrow2()



mixin Pcicon(text,span)
	+e.picon-group.col-auto
		+icon(span)
		a=text
mixin Black-icons(icon,text)
	+e.icon-col.col-12.col-sm-auto
		+e.icon-box
			+e.svg-box
				+icon(icon)
			p=text
mixin CBtop(title, addTittleClass='')
	+e.cb-item
		+e.cb-title(class=addTittleClass)=title
		+e.cb-content-wrap
			block
mixin CB(key,value)
	+e.value-row.row
		+e.CB-key.col.col-md-6.col-lg-5=key
		+e.CB-value.col-auto.col-md=value
mixin PB(text,span)
	+e.span-box
		span.PBkey=text
		span.PBvalue=span
mixin BS(img,text,span)
	+e.border-section
		+e.BS-row.row.align-items-center
			.col-auto
				+e.BS-img
					img(src=img)
			.col
				+e.SPAN.BS-key=text
				+e.SPAN.BS-value=span
mixin Pctabs(fbtntxt='Характеристики товара')
	+b.pc-tabs.tabs
		+e.caption-slider.d-none.d-sm-block
			.swiper-container.pc-tabs-slider-js
				.swiper-wrapper
					.swiper-slide
						+e.tabs-btn.tabs__btn.active=fbtntxt
					.swiper-slide
						+e.tabs-btn.tabs__btn Отзывы
					.swiper-slide
						+e.tabs-btn.tabs__btn Доставка и оплата
		.tabs__wrap.prod-card-dd-items-js
			+sProdCardTabsContent(fbtntxt, 1, 'active')
				+e.content
					+CBtop("Габариты и вес")
						+CB("Глубина встраивания (см)","49")
						+CB("Ширина встраивания (см)","28")
					+CBtop("Мощность варочных зон")
						+CB("Задняя (кВт)","3")
						+CB("Передняя (кВт)","1")
					+CBtop("Мощность и энергопотребление")
						+CB("Тип газа","природный/LPG (бутан, пропан)")
					+CBtop("Общие характеристики")
						+CB("Артикул","10209256")
						+CB("Габариты, ВхШхГ (см)","4x30x51")
						+CB("Газ-контроль","есть")
						+CB("Гарантийный срок","24 мес")
						+CB("Глубина (см)","51")
						+CB("Дополнительная информация","Горелки с декоративным откосом, Планка 40204391 для комбинирования с другими модульными панелями из нержавеющей стали (приобретается отдельно)")
						+CB("Защита от детей","нет")
						+CB("Количество газовых конфорок","2")
						+CB("Конфорка WOK"," нет")
						+CB("Материал","нерж. сталь")
						+CB("Материал решетки","эмалированная")
						+CB("Производитель","Teka")
						+CB("Размеры ниши для встраивания (Ш х Г), см","28x49")
						+CB("Страна-производитель","Турция")
						+CB("Тип варочной панели","газовая")
						+CB("Тип управления","механическое")
						+CB("Цвет","нерж.сталь")
						+CB("Цвет рамки","нержавеющая сталь")
						+CB("Цвет фурнитуры","эффект нержавеющей стали")
						+CB("Ширина (см)","30")
						+CB("Электроподжиг","нет")
					+CBtop("Общие характеристики тека irs 631 white")
						+CB("Габариты (ВхШхГ)","4x30x51")
						+CB("Способ подключения","газовая")
					+CBtop("Основные")
						+CB("System.ActivePrevStage","Есть")
					+CBtop("Основные характеристики")
						+CB("Высота (см)","4.0000")
					+CBtop("Технические характеристики")
						+CB("Общая потребляемая мощность (кВт)","4")
						+CB("Приспособлена для LPG (сжиженный нефтяной газ)","да")
						+CB("Регулировка мощности","бесступенчатая")
					+CBtop("Управление")
						+CB("Отсрочка запуска","нет")
						+CB("Расположение элементов управления","спереди")
					+CBtop("Установка")
						+CB("Размеры выреза, см:","28x49")
			+sProdCardTabsContent('Отзывы', 2)
				| 2
			+sProdCardTabsContent('Доставка и оплата', 3)
				| 3
mixin sProdCardTabsContent(tabName, imgNum, activeClasses='')
	+e.tabs-content.tabs__content(class=activeClasses)
		+e.dd-item
			+e.dd-head.d-sm-none.dd-head-js
				+e.dd-img
					img.img-svg-js(loading="lazy" src=`img/svg/footMobNavItem-${imgNum}.svg` alt="")
				span=tabName
			+e.dd-content.dd-content-js
				block