mixin sVac(data)
	// start sVac
	+b.SECTION.sVac.section#sVac&attributes(attributes)
		.container
			+breadcrumb("Главная" ,"Вакансии")
			+b.section-title.text-start
				h2 Вакансии
			+e.row.row
				.col
					+vacantion({
						title: "Продавец-консультант в торговый зал",
						salary: " не указана",
						list:["• Организация и контроль работы склада по приему, хранению и отпуску товаров, по их размещению с учетом наиболее рационального использования складских площадей",
								"• Ведение бюджета по доставкам ",
								"• Обработка рекламаций, выставление претензий, отправка рекламационных тмц.",
								"• Контроль актуальности доставки тмц в дальние регионы ",
								"• Учет и контроль процессов поставки товара на склад;",
								"• Обеспечение сохранности складируемых товарно-материальных ценностей;",
						],
						grey:"г. Подольск ",
						grey1:"Дата размещения вакансии: 15 июня 2021"
					})
					+vacantion({
						title: "Охранник в Шоурум",
						salary: " не указана",
						list: ["• Организация и контроль работы склада по приему, хранению и отпуску товаров, по их размещению с учетом наиболее рационального использования складских площадей",
							"• Ведение бюджета по доставкам ",
							"• Обработка рекламаций, выставление претензий, отправка рекламационных тмц.",
							"• Контроль актуальности доставки тмц в дальние регионы ",
							"• Учет и контроль процессов поставки товара на склад;",
							"• Обеспечение сохранности складируемых товарно-материальных ценностей;",
						],
						grey: "г. Подольск ",
						grey1: "Дата размещения вакансии: 15 июня 2021"
					})
					+vacantion({
						title: "Старший кассир",
						salary: "от 100 000 рублей",
						list: ["• Организация и контроль работы склада по приему, хранению и отпуску товаров, по их размещению с учетом наиболее рационального использования складских площадей",
							"• Ведение бюджета по доставкам ",
							"• Обработка рекламаций, выставление претензий, отправка рекламационных тмц.",
							"• Контроль актуальности доставки тмц в дальние регионы ",
							"• Учет и контроль процессов поставки товара на склад;",
							"• Обеспечение сохранности складируемых товарно-материальных ценностей;",
						],
						grey: "г. Подольск ",
						grey1: "Дата размещения вакансии: 15 июня 2021"
					})
					+vacantion({
						title: "Менеджер",
						salary: " не указана",
						list: ["• Организация и контроль работы склада по приему, хранению и отпуску товаров, по их размещению с учетом наиболее рационального использования складских площадей",
							"• Ведение бюджета по доставкам ",
							"• Обработка рекламаций, выставление претензий, отправка рекламационных тмц.",
							"• Контроль актуальности доставки тмц в дальние регионы ",
							"• Учет и контроль процессов поставки товара на склад;",
							"• Обеспечение сохранности складируемых товарно-материальных ценностей;",
						],
						grey: "г. Подольск ",
						grey1: "Дата размещения вакансии: 15 июня 2021"
					})
				.col-lg-4.col-xl-3
					+e.filter
						+VacFilterItem("Все вакансии")(checked)
						+VacFilterItem("Административный персонал")
						+VacFilterItem("Бухгалтерия, управленческий учет и пр.")
						+VacFilterItem("Высший менеджмент")
						+VacFilterItem("Закупки")
						+VacFilterItem("Интернет-магазин")
						+VacFilterItem("Логистика")
	// end sVac
mixin vacantion(data)
	+e.content-box
		h3=data.title
		+e.P.salary
			b Заработная плата :
			|
			=data.salary
		ul Обязанности :
			each li in data.list
				li=li
		+e.P.grey-paraph
			=data.grey
			|
			span=data.grey1
		+e.btn(type="button") Откликнуться
mixin VacFilterItem(txt)
	+e.LABEL.label
		input(type="radio" name="sVac-filter" value=txt class="invisible")&attributes(attributes)
		span.sVac__txt=txt